VITE_THIRDWEB_CLIENT_ID=517007e6ba4b15eaaad1074860c4c1f0
VITE_PINATA_GATEWAY=black-harsh-ant-656.mypinata.cloud
VITE_PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiI5ZTAxZTBhNy00NTc0LTRhNGUtYTVmZi1hOWE3MDdhMzg1YjciLCJlbWFpbCI6ImZyZWVkdGVja0BnbWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwicGluX3BvbGljeSI6eyJyZWdpb25zIjpbeyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJGUkExIn0seyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJOWUMxIn1dLCJ2ZXJzaW9uIjoxfSwibWZhX2VuYWJsZWQiOmZhbHNlLCJzdGF0dXMiOiJBQ1RJVkUifSwiYXV0aGVudGljYXRpb25UeXBlIjoic2NvcGVkS2V5Iiwic2NvcGVkS2V5S2V5IjoiZmJjZWViOWM4Zjg1YjlmMzZkNjgiLCJzY29wZWRLZXlTZWNyZXQiOiI4NWM3NDAyMDY0YzU5YjY3MWQwMzZkZTBhMmQ5MDUyNzk5MDEzNDJkNTUwNjZkM2M0Y2UxODgyMWQwZTgxYWNjIiwiZXhwIjoxNzgyMDc3Nzg4fQ.f5rtSzxVi_cvhRnfY3LQB4F58SU_WzVWyEcuh9Z6RQs
